<h1>Find Destination</h1>
  <form method="POST" action="/country/destination/find/<% name %>">
    <label for="name"> Destination Name: </label>
    <input type="text" name="name" id="name">
    <input class="Destination" type='submit' value="Find Destination ">
  </form>
