<h1>Destination</h1>
<%= @destinations.count %>
<%= destination_count = 1 %>
<%= while destination_count >= @destinations.count do %>
<%= p destination %>
<% end%>


<%# FOR LOOP COPIED INTO NOTES %>
