<h1>Find Destination By Name<h1>
  <form method="POST" action="/country/destination">
    <label for="name"> Destination Name: </label>
    <input type="text" name="name" id="name" value=<%=destination.name%>


    <input class="Destination" type='submit' value="Find Destination ">
  </form>
