<h1>Edit Destination</h1>
<form method="POST" action="/country/destination/<%= @destination.id %>">
  <label>
    Destination Name:
    <input type="text" name="name" value=<%= @destination.name %>>
  </label>

  <label>Select the appropriate country
    <select name="country_id">
      <% for country in @countries %>
      <option value="<%=country.id%>"><%= country.name %></option>
      <% end %>
    </select>
  </label>

  <label> Type:
    <input type="text" name="type" value="City / Beach">
  </label>

  <label> Visited:
    <input type="text" name="visited" value="visited / not visited">
  </label>

  <input class="Destination" type='submit' value="Add Destination ">
</form>
