<h1>New Country</h1>

<form action="/country" method="POST">
  <label>
    Enter a country:
    <input type="text" name="name" id="name">
  </label>
  <label> Continent:
    <input type="text" name="continent" id="continent">
  </label>
  <label> Visited?:
    <input type="text" name="visited" id="visited">
  </label>
  <!-- <input class="btn btn--action" type='submit' value="Add Country"> -->
  <input class="Country" type='submit' value="Save">

</form>
