<h1>New Country</h1>
<form action="/country" method="POST">
  <label for="name">Country: </label>
  <input type="text" name="name" id="name">

  <label for="continent"> Continent: </label>
  <input type="text" name="continent" id="continent">

  <label for="visited"> Visited?: </label>
  <input type="text" name="visited" id="visited">

  <input class="Country" type='submit' value="Save">

</form>
