table, th, td {
  padding: 10px;
  border: 1px solid black;
  border-collapse: collapse;
  background-color: #cccccc;
  }

/* Border */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
  border: 1px solid #555;
}

li a:hover {
  background-color: #555;
  color: white;
}


/* background */
body{
  /* background-image: url('images/travel-photo2007401.jpeg'); */
  background-image: url("https://images.pexels.com/photos/2007401/pexels-photo-2007401.jpeg?cs=srgb&dl=white-airliner-wing-on-top-of-sea-clouds-2007401.jpg&fm=jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-color: #cccccc;
}
